@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Carrois+Gothic+SC&family=Cormorant+Garamond:wght@300;500;700&family=Cormorant+Upright:wght@500;700&family=Crimson+Text:wght@400;600;700&family=Josefin+Sans&family=Mukta+Vaani:wght@200;700&family=Rock+Salt&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
}
